@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic)
@import 'normalize.sass'
@import 'vars.sass'

#root
  background: $gray
  min-height: 100vh
  max-width: 100vw
  display: flex
  align-items: center
  justify-content: center

html
  font-family: 'Open Sans', sans-serif
